/* Update the background color for the Skills section */
#Skills {
    background-color: #34495e; /* Dark color */
  }
  
  #Skills h1 {
    color: #ecf0f1; /* Light text color for heading */
  }
  
  #Skills .flex {
    background-color: #2c3e50; /* Darker background for skill icons */
  }
  